@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap");

body {
  padding-top: 1em !important;
}

.arabic {
  font-family: "Noto Naskh Arabic", serif !important;
}

.stat-card .stat-key {
  font-weight: 600;
  color: #74c69d;
}

.stat-card .stat-value {
  font-weight: 600;
}
